h1 {
  color: blueviolet;
  text-align: center;
}

h2 {
  color: dodgerblue;
  text-align: center;
}

p {color: fuchsia;}

body {
  background-color: lavender;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}